@charset "UTF-8";

html{
	margin-left: 0;
	margin-right: 0;
	/*background-image: url("image/pots-plants.gif");*/
	background-color: white;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	background-size:20%;
}

header{
	background-color: #0d446a;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: auto;
	position: static;
}

h3{
	color: #F2F2F2;
	font-family: serif;
	font-weight: bold;
	padding: 30px 30px 30px 10px;
	margin: 0;
}

.image1{
	padding: 5px;
	margin-top: 10px;
	margin-left: 10px;
	width: 3%;
	height: 3%;
}

header h3, footer h5{
	color: #F2F2F2;
	font-family: "微軟正黑體", sans-serif;
}

.pageheader{
	display: flex;
	margin: 0;
	padding: 0;
}

/*position : sticky not working
1. 需指定 top/bottom/right/left 數值
2. 父節點定位設定的 overflow 需 visible 否則失效
	若任意父節點定位設定為 position: overflow 則無法滾動，sticky 失效
3. 父容器高度需大於當元素否則失效
4. sticky 僅在其父元素內生效
5. align-items: normal（默認設置）或align-items: stretch 沒有空間可以滾動 */

div.sticky{
	height: 50px;
	margin: 0px;
	position: sticky;
	top: 0px;
	z-index: 2;
}

#main-nav{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #0d446a;
	width: 100%;
	height: auto;
	overflow: hidden;
}
 
.active{
	background-color: #F2F2F2;
	float:left;
	display: inline-block;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.active a{
	color: #0d446a;
}

#item{
	float:left;
	display: inline-block;
	background-color: #0d446a;
	color: #F2F2F2;
	margin: 0;
	padding: 0;
}

.dropbtn/*選單按鈕*/ {
  display: inline-block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn-active/*選單按鈕NOW AT*/ {
  display: inline-block;
  color: #0d446a;
  background-color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(3, 58, 96, 1.0);
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #0d446a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: rgba(3, 58, 96, 1.0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* unvisited link */
#item a:link {
  color: #F2F2F2;
}

/* visited link */
#item a:visited {
  color: #F2F2F2;
}

/* mouse over link */
nav a:hover {
  color: white;
  background-color: rgba(3, 58, 96, 1.0);
}

/* selected link */
#item a:active {
  color: white;
}

body{
	color: white;
}

.news-contents{
	display: flex;
}

article{
	width: 50%;
	height: auto;
	margin: 0px 20px;
	padding: 30px 35px;
	float: left;
	background-color: rgba(3, 58, 96, 0.65);
}

aside{
	width: 23%;
	height: auto;
	padding: 10px 10px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
	justify-content: center;
	display: block;
}

#sticky2{
	position: sticky;
	top: 60px;
	z-index: 1;
}

.lcontent, .rcontent{
	background-color: rgba(3, 58, 96, 0.65);
	text-align: center;
	border:  5px solid;
	border-color: rgba(206,217,225, 1.0);
	border-radius: 25px;
	padding: 25px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#goodsong{
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: #F2F2F2 0.1em 0 0.2em;
}

#goodsong a{
	text-decoration: none;
}

#goodsong a:hover{
	color: #F2F2F2;
	text-decoration: none;
	background-color: rgba(3, 58, 96, 1.0);

}

#goodsong a{
	text-decoration: none;
	text-shadow: #F2F2F2 0.1em 0 0.2em;
}

#connect1{
	display: block;
	justify-content: center;
	padding: auto;
}

#connect2{
	padding: 5px 20px 20px;
	height: 80px;
	display: flex;
	justify-content: center;
}

#connect3{
	height: 50px;
	width: 50px;
	margin: 5px 20px;
	padding: 1px;
}

#plant{
	padding: 25px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#tenor-gif-embed{
	height: 30%;
	width: 30%;
	z-index: -1;
}

.imagea{
	text-align: center;
}

ul{
	list-style-type: square;
	list-style-position: outside;
}

ol{
	list-style-position: outside;
}

a:not(nav){
	color: white;
	font-family: "微軟正黑體", sans-serif;
}

tr:hover {
	background-color: rgba(10, 54, 84, 0.5);
	color: white;
}

footer{
	background-color: #0d446a;
	position: relative;
	z-index: 2;
}


button{
		background-color: #F2F2F2;
		color: #0d446a;
		border-style: solid;
		border-width: 1px;
		border-color: #0d446a;
		width: 75px;
		height: 30px;
		padding: 2px;
}

button:hover{
		background-color: #0d446a;
		color: #F2F2F2;
		border: hidden;
		width: 80px;
		height: 35px;
		padding: 2px;
}

table.perexp{
	text-align: left;
	border-style: none;
	border-collapse: collapse;
	border-width: 0px;
	width: 90%;
	letter-spacing: 2px;
	margin: 35px;
	vertical-align: center;
	line-height: 250%;
}

hr{
	margin: 35px;
}

.recordd{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin: 70px 0px 25px 0px;
}

.Lyrics{
	font-family: Andale Mono, monospace;
	font-size: 18px;
	line-height: 45px;
}

/*gird格線*/

#boxbox{
	justify-content: center;    
  align-content: center;
	width: 500px;
	height: auto;
}

.wrapper{
   display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   grid-column-gap: 15px;
   grid-row-gap: 2em;
   justify-content: center;    
   align-content: center;
}

.wrapper div{
   display: flex;   
   align-content: center;
   justify-content: center;
}

.wrapper img{
	width: 100%;
  height: auto;
}

.wrapper img:hover {
  border: 2px solid #F2F2F2;
}

/*email*/

input[type=text], input[type=email], input[type=tel], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: rgba(255, 255, 255, 1.0);
  box-sizing: border-box;
  border: 3px solid rgba(13, 68, 106, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
  border: 3px solid #0A3654;
}

input[type=button] {
  background-color: #0d446a;
  border: none;
  color: #F2F2F2;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}

input[type=button]:hover {
  background-color: #F2F2F2;
  border: none;
  color: #0d446a;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}